[submodule "constitution-scripts"]
	path = constitution-scripts
	url = https://github.com/rownbc/constitution-scripts.git
	ignore = all
	shallow = true
[submodule "script"]
	path = script
	url = https://github.com/rownbc/constitution-scripts.git
	branch = master
